body {
    background-color: rgb(17,25,61);
    background-image: url(yourname.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin: 0;
    padding: 0;
}
div {
    background-color: rgb(17,25,61,0.5);
    width: auto;
    height: 75px;
    text-align: left;
    color: lightsteelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    margin: 5px 0px;
}
h3 {
    margin: 5px 0px;
}
.buttons{
    position:relative;
    bottom: 55px;
    left: 1080px;
    
    /*Advanced*/
    background-color: lightsteelblue;
    font-size: 20px;
    padding: 10px;
    border: 5px white;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
}