body {
    background-color: rgb(17,25,61);
    padding: 0;
    margin: 0;
}
#title {
    margin: 5px 0px;
}
#second_title {
    margin: 5px 0px;
}
.buttons {
    position: relative;
    bottom: 55px;
    left: 1150px;

    /*Advanced*/
    cursor: pointer;
    background-color: lightsteelblue;
    border: 5px white;
    border-radius: 12px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
#Header {
    background-color: rgb(10,35,61,0.5);
    width: auto;
    height: 75px;
    text-align: left;
    color: lightsteelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#user_input {
    background-color:rgb(10,35,61,0.5);
    height: 450px;
    width: 400px;
    
    margin: auto;

    border: 10px white;
    border-radius: 5px;
}
#login {
    margin: auto;
    padding-top: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: lightsteelblue;
}

.input {
    height: 35px;
    width: 300px;
    margin-left: 50px;
    margin-top: 85px;
}