body {
    background-color: rgb(17,25,61);
    margin: 0;
    padding: 0;
}
#title {
    margin: 5px 0px;
}
#second_title {
    margin: 5px 0px;
}
#link {
    position: relative;
    
}
.buttons {
    position: relative;
    bottom: 55px;
    left: 1180px;

    /*Advanced*/
    cursor: pointer;
    background-color: lightsteelblue;
    border: 5px white;
    border-radius: 12px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
#Header {
    background-color: rgb(10,35,61,0.5);
    width: auto;
    height: 75px;
    text-align: left;
    color: lightsteelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Div*/
#userInput {
    background-color: rgb(10,35,61,0.5);
    height: 450px;
    width: 400px;
    margin: auto;
    border: 10px white;
    border-radius: 5px;
}

#signUp {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: lightsteelblue;
}

.input {
    height: 35px;
    margin: 25px 70px;
    width: 250px;
}

#ToS {
    margin-left: 125px;
}
#ToSText {
    color: lightsteelblue;
}